/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --aside-width: 230px;
  --top-bottom-height: 90px;
  --color-princ: #FFFFFF;
  --color-secon: #717171;
  --color-secon-light: #808080;
  --color-secon-very-light: #D2D2D2;
  --progress-song: 30%;
  --volume: 20%;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h2, h3{
  color: var(--color-princ);
}

h2{
  font-size: 2.1rem;
}

h3{
  font-size: 1.1rem;
}

h5{
  color: var(--color-secon);
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: var(--color-secon);
}

span{
  display: inline-block;
}

ul{
  list-style: none;
}

.button{
  border: 1px solid var(--color-princ);
  border-radius: 40px;
  padding: 15px 40px;
}

.button a{
  color: var(--color-princ);
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.card{
  width: calc(100% / 6 );
  aspect-ratio: 1/1;
  padding-right: 15px;
  text-align: center;
}

.progress-bar, .actual-progress{
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-secon);
  margin: 0px 14px;
}

.progress-bar .actual-progress{
  background-color: var(--color-secon-very-light);
  margin: 0;
}

.margin-bottom-25{
  margin-bottom: 25px;
}

.margin-bottom-12{
  margin-bottom: 12px;
}

.padding-20{
  padding: 20px 20px 2px;
}

.d-flex{
  display: flex;
}

.a-center{
  align-items: center;
}

.j-center{
  justify-content: center;
}

.debug{
  border: 2px solid red;
}
/* ------------------------------ */

/* ASIDE */
aside{
  float: left;
  flex-direction: column;
  width: var(--aside-width);
  height: calc(100vh - var(--top-bottom-height));
  background-color: #000000;
}

#logo img:nth-child(1){
  width: 132px;
}

#logo img:nth-child(2){
  display: none;
}

aside nav li{
  height: 35px;
}

aside nav li a{
  display: inline-block;
  line-height: 35px;
}

aside nav svg{
  vertical-align: middle;
  width: 25px;
}

aside nav svg path{
  fill: var(--color-secon-very-light);
}

#playlist #new{
  padding-top: 15px;
}

#playlist #new span{
  line-height: 37px;
}

#playlist #new span:first-of-type{
  height: 37px;
  width: 37px;
  text-align: center;
  vertical-align: middle;
  font-size: 2.4rem;
  background-color: var(--color-secon-light);
  color: black;
  margin-right: 3px;
}

#scroll-playlist{
  min-height: 100px;
  max-height: 340px;
  overflow-y: auto;
}

#scroll-playlist ul li{
  font-size: .8rem;
  padding-bottom: 25px;
}

#bottom-aside{
  margin-top: auto;
  width: 100%;
}

#bottom-aside #download{
  border-bottom: 1px solid var(--color-secon);
  padding-bottom: 12px;
}

#download svg{
  height: 20px;
  vertical-align: middle;
}

#download svg path{
  fill: var(--color-secon);
}

#download span{
  font-size: .8rem;
  padding-left: 6px;
}

#bottom-aside #profile{
  padding: 14px 0px 5px;
}

#profile img{
  width: 25px;
  height: 25px;
  background-color: var(--color-secon-light);
  border-radius: 50%;
  vertical-align: middle;
}

#profile h3{
  display: inline-block;
  line-height: 24px;
  margin-left: 5px;
}
/* ------------------------------ */

/* HEADER */
header{
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - var(--aside-width));
  height: var(--top-bottom-height);
  background-color: rgba(0, 0, 4, 0.4);
}

header .button{
  position: absolute;
  top: 20px;
  right: 30px;
}
/* ------------------------------ */

/* MAIN */
main{
  height: calc(100vh - var(--top-bottom-height));
  margin-left: var(--aside-width);
  background-color: #141922;
  overflow-y: scroll;
}

main nav{
  margin-top: var(--top-bottom-height);
  margin-bottom: 40px;
  text-align: center;
}

main nav li{
  display: inline-block;
  padding: 6px 12px;
}

main img{
  width: 100%;
}

main .card h3{
  padding-top: 20px;
}

main .card h5{
  padding-top: 10px;
}

main .row:last-child .card img{
  border-radius: 50%;
}
/* ------------------------------ */

/* FOOTER */
footer{
  /*per farlo stare sopra al contenuto dell'aside*/
  position: relative;
  justify-content: space-between;
  height: var(--top-bottom-height);
  background-color: #282828;
  color: var(--color-princ);
}

#f-left img{
  width: 50px;
  height: 50px;
  margin: 0px 14px;
}

#f-left .current-song span{
  color: var(--color-secon);
  font-size: .8rem;
  padding-right: 20px;
}

#f-left .icons i{
  color: var(--color-secon);
  padding: 7px ;
}

#f-center{
  width: 40%;
}

#f-center .top{
  font-size: 1.3rem;
}

#f-center .top i{
  padding: 11px;
}

#f-center .top i:nth-of-type(3){
  padding: 14px 20px;
  font-size: 2rem;
}

#f-center .bottom span{
  padding: 0px 12px;
  font-size: .7rem;
}

#f-center .bottom .progress-bar{
  width: 100%;
}

#f-center .bottom .actual-progress{
  width: var(--progress-song);
}

#f-right{
  width: 200px;
}

#f-right i{
  padding: 0px 8px;
  font-size: .8rem;
}

#f-right i:last-of-type{
  padding-right: 0;
}

#f-right .progress-bar{
  margin: 0px 10px;
  width: 100%;
}

#f-right .actual-progress{
  width: var(--volume);
}
/* ------------------------------ */

/* MEDIA */
@media screen and (max-width:1100px) {
  .card{
    width: calc(100% / 4);
  }
}

@media screen and (max-width:800px) {
  .card{
    width: calc(100% / 2);
  }

  /* FOOTER */
  #f-left .icons{
    display: flex;
    flex-direction: column;
  }
  /* ------------------------------ */
}

@media screen and (max-width:600px){

  :root{
    --aside-width: 50px;
  }

  /* ASIDE */
  aside.padding-20{
    padding: 5px 11px;
  }

  #logo img:nth-child(1){
    display: none;
  }
  
  #logo img:nth-child(2){
    display: initial;
    width: 28px;
  }

  nav li a span{
    display: none;
  }

  #playlist{
    display: none;
  }

  #bottom-aside{
    text-align: center;
  }

  #bottom-aside #download{
    border-bottom: none;
  }

  #bottom-aside #download span{
    display: none;
  }

  #bottom-aside #profile h3{
    display: none;
  }
  /* ------------------------------ */
}
/* ------------------------------ */